
<footer class="pz-footer pz-hide-loading pz-hide-mobile">
    <div class="pz-footer__wrapper" style="min-height: 200px;">
      <section class="pz-footer__section pz-footer__about-us">
        <h4 class="pz-footer__section-header">New York Times Games – Christmas Edition</h4>
        <p class="pz-footer__featured-text">Merry Christmas from Torque & Sophia!</p>
        <!-- <p class="pz-footer__featured-text pz-hide-sub"><a
            href="https://www.nytimes.com/subscription/games?campaignId=9W9LL" data-track-label="subscribe-now-footer"
            class="js-footer-tracking">Subscribe now</a> for unlimited access.</p> -->
      </section>
      <section class="pz-footer__section pz-footer__section-link-col">
        <h4 class="pz-footer__section-header">Other Games!</h4>
        <ul class="pz-footer__list">
          <!-- <li class="pz-footer__link"><a href="/christmas_word_puzzles/nyt_games/leaderboard/game/daily" data-track-label="daily-page-footer"
              class="js-footer-tracking"><i class="pz-icon pz-icon-daily"></i>The Crossword</a></li> -->
          <li class="pz-footer__link"><a href="/christmas_word_puzzles/nyt_games/mini" data-track-label="mini-page-footer"
              class="js-footer-tracking"><i class="pz-icon pz-icon-mini"></i>The Mini Crossword</a></li>
          <!-- <li class="pz-footer__link"><a href="/puzzles/spelling-bee" data-track-label="spelling-bee-footer"
              class="js-footer-tracking"><i class="pz-icon pz-icon-spelling-bee"></i>Spelling Bee</a></li> -->
          <!-- <li class="pz-footer__link"><a href="/christmas_word_puzzles/nyt_games/wordle/index.html" data-track-label="wordle-footer"
              class="js-footer-tracking"><i class="pz-icon pz-icon-wordle"></i>Wordle</a></li> -->
          <li class="pz-footer__link pz-hide-newsreader"><a href="/christmas_word_puzzles/nyt_games/strands" data-track-label="strands-footer"
              class="js-footer-tracking"><i class="pz-icon pz-icon-strands"></i>Strands</a></li>
          <li class="pz-footer__link"><a href="/christmas_word_puzzles/nyt_games/connections" data-track-label="connections-footer"
              class="js-footer-tracking"><i class="pz-icon pz-icon-connections"></i>Connections</a></li>
          <li class="pz-footer__link"><a href="/christmas_word_puzzles/nyt_games/leaderboard" data-track-label="leaderboard-footer"
              class="js-footer-tracking"><i class="pz-icon pz-icon-trophy"></i>Leaderboard</a></li>
          <!-- <li class="pz-footer__link"><a href="/puzzles/tiles" data-track-label="tiles-footer"
              class="js-footer-tracking"><i class="pz-icon pz-icon-tiles"></i>Tiles</a></li>
          <li class="pz-footer__link"><a href="/puzzles/letter-boxed" data-track-label="letter-boxed-footer"
              class="js-footer-tracking"><i class="pz-icon pz-icon-letter-boxed"></i>Letter Boxed</a></li>
          <li class="pz-footer__link"><a href="/puzzles/sudoku" data-track-label="sudoku-footer"
              class="js-footer-tracking"><i class="pz-icon pz-icon-sudoku"></i>Sudoku</a></li>
          <li class="pz-footer__link"><a href="/christmas_word_puzzles/nyt_games/leaderboard" data-track-label="all-games-footer"
              class="js-footer-tracking">All Games</a></li> -->
        </ul>
      </section>
      <section class="pz-footer__section pz-footer__section-link-col">
        <h4 class="pz-footer__section-header">Go To</h4>
        <ul class="pz-footer__list">
          <li class="pz-footer__link"><a href="/today" data-track-label="archive-footer"
              class="js-footer-tracking">Today Page</a></li>
          <!-- <li class="pz-footer__link"><a href="/puzzles/stats" data-track-label="stats-footer"
              class="js-footer-tracking">Statistics</a></li>
          <li class="pz-footer__link"><a href="/puzzles/leaderboards" data-track-label="leaderboards-footer"
              class="js-footer-tracking">Leaderboards</a></li>
          <li class="pz-footer__link"><a
              href="https://nytimes.com/article/submit-crossword-puzzles-the-new-york-times.html"
              data-track-label="submit-crosswords-footer" class="js-footer-tracking">Submit a Crossword</a></li> -->
        </ul>
        <h4 class="pz-footer__section-header"  style="display: none;">Community</h4>
        <ul class="pz-footer__list"  style="display: none;">
          <li class="pz-footer__link"><a href="https://www.nytimes.com/column/wordplay"
              data-track-label="wordplay-footer" class="js-footer-tracking">Gameplay Stories</a></li>
          <li class="pz-footer__link"><a href="https://www.nytimes.com/spotlight/spelling-bee-forum"
              data-track-label="sb-forum-footer" class="js-footer-tracking">Spelling Bee Forum</a></li>
          <li class="pz-footer__link"><a href="https://www.threads.net/@nytgames" data-track-label="threads-footer"
              class="js-footer-tracking">Games Threads</a></li>
        </ul>
      </section>
      <section class="pz-footer__section pz-footer__section-link-col" style="display: none;">
        <h4 class="pz-footer__section-header" style="display: none;">Learn More</h4>
        <ul class="pz-footer__list">
          <li class="pz-footer__link"><a href="https://help.nytimes.com/hc/en-us/sections/360011158491-NYT-Games "
              data-track-label="faq-footer" class="js-footer-tracking">FAQs</a></li>
          <li class="pz-footer__link pz-hide-ios"><a href="https://www.nytimes.com/subscription/christmas_word_puzzles/nyt_games/gift"
              data-track-label="gift-subscription-footer" class="js-footer-tracking">Gift Subscriptions</a></li>
          <li class="pz-footer__link games-collection"><a data-medium="footer" data-source="nytimes-games"
              href="https://store.nytimes.com/collections/games?utm_campaign=games_collection&amp;utm_content=footer&amp;utm_medium=referral&amp;utm_source=nyt_games"
              data-track-label="times-store-footer" class="js-footer-tracking">Shop the Games Collection</a></li>
          <li class="pz-footer__link"><a href="/christmas_word_puzzles/nyt_games/leaderboard/apps" data-track-label="download-app-footer"
              class="js-footer-tracking">Download the App</a></li>
          <li class="pz-footer__link"><span id="js-feedback-link"></span></li>
        </ul>
      </section>
      <section class="pz-footer__section pz-footer__legal pz-footer__section-link-col" style="display: none;">
        <div id="js-portal-footer-legal"></div>
      </section>
    </div>
  </footer>