<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title >Christmas 2025 Games</title>
    <meta name="description" content="Christmas 2025 Games" />
    <meta name="googlebot" content="noindex,nofollow" />
    <meta name="robots" content="noindex,nofollow" />
    <meta property="og:title" content="Christmas 2025 Games"
        />
    <meta property="og:description"
        content="Christmas 2025 Games"
        />
    <meta property="og:type" content="website" />
    <link rel="icon" href="/resources/favicon.png">
    <meta name="theme-color" content="#eeebdd" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="assets/css/main.css" rel="stylesheet"
            />

</head>